table {
	border-collapse: collapse;
	border: 1px solid;
	margin: 0px 10px;
}

th {
	padding: 3px 15px 3px 15px;
}

td {
	border: 1px solid;
	text-align: center;
	padding: 3px;
}

.testBorder {
	border: 1px solid red;
}

#boundaryBox{
	width: 100%;
	max-width:800px;
	margin:auto;
}

#scoreTitle {
	margin: 20px 10px 10px 10px;
	font-size: min(6vw, 36px);
}

#arena {
	width: 85%;
	max-width: 350px;
	margin: 20px auto 20px auto;
	border: 1px solid;
}

#arena img {
	width: auto;
	max-width: 150px;
}

#line {
	border-top: 1px solid;
}

#cpuSpace,
#playerSpace {
	width: 40%;
	max-width: 155px;
	margin: 10px auto 10px auto;
	display: flex;
	flex-direction: column;
}

#cpuSpace > p,
#playerSpace > p {
	text-align: center;
	margin: 0px;
	font-size: auto;
}

#cpuPlay,
#playerPlay {
	font-weight: bold;
}

#selectionBox {
	width: 85%;
	max-width: 350px;
	margin: 10px auto 10px auto;
	display: flex;
	justify-content: center;
	border: 1px solid;
}

#selectionBox input {
	box-sizing: border-box;
	width: 20%;
	max-width: 76px;
	padding: 6px;
	margin: 10px 15px;
	border: solid 1px grey;
	border-radius: 2px;
}
